---
import { site } from '../config/site';
---
<header class="nav">
  <div class="container nav-inner">
    <a href="/" class="logo"><span class="box">{site.logoEmoji}</span> {site.name}</a>
    <nav class="nav-links">
      <a href="/maker" class="hide-sm">Template Maker</a>
      <a href="/templates" class="hide-sm">Templates</a>
      <a href="/blog" class="hide-sm">Blog</a>
      <a href="/maker" class="btn btn-primary btn-sm">Make a Checklist</a>
    </nav>
  </div>
</header>
