---
---
<header class="nav">
  <div class="container nav-inner">
    <a href="/" class="logo"><span class="box">✓</span> Checklist</a>
    <nav class="nav-links">
      <a href="/templates" class="hide-sm">Templates</a>
      <a href="/blog" class="hide-sm">Blog</a>
      <a href="/about" class="hide-sm">About</a>
      <a href="/templates" class="btn btn-primary btn-sm">Browse Templates</a>
    </nav>
  </div>
</header>
